<%- include('header')-%>
    <div class="box" id="heading">
        <h1> <%=title%> !</h1>
    </div> 
    <div class="box"> 
           <!--<li> <%=newitem%> </li> --> 
           <% for (var i=0;i<newitem.length;i++){ %>
               <div class="item">
                   <input type="checkbox">
                   <p><%= newitem[i]  %> </p></div>
           <% }%>

        <form action="/" method="post" class="item">
            <input type="text" placeholder="New Item" name="item" autocomplete="off">
            <button type="submit" name="button" value="<%=title%>">+</button>
        </form>
    </div>
<%- include('footer')-%>